PORT=3000
MONGOURL=mongodb://mongodb:27017/mydb
SECRET=your_secret_here
APP_PASSWORD=your_app_password_here
AI_USER_PASSWORD=your-AI-User-password #long-string 
AI_API_URL=http://ollama:11434 
AI_API_KEY=your-ollama-api-key